@import url(//db.onlinewebfonts.com/c/ea9a35ccb808c60d13a76d592c6e8216?family=Stormfaze);

@font-face { 
    font-family: StormFaze; 
    src: url('stormfaze.ttf'); 
} 

html, body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;
    margin: 0;
}

main {
    background: url(love-death-robots.jpg);
    background-size: cover;
    background-position: center;
}

#masthead {
    position: absolute;
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

#masthead img {
    position: relative;
    height: 100%;
    height: 150px;
    width: 150px;
}

main {
    position: absolute;
    height: 100vh;
}

.hero {
    height: 100vh;
}

/* #social-media-links {
    height: 300px;
    width: 300px;
    position: absolute;
    right: 0;
    color: white;
    z-index: 19;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
} */

/* .media-link a {
    color: white;
    font-weight: 600;
    font-size: 25px;
    text-decoration: none;
} */

  
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer img {
  height: 200px;
  margin-top: 10%;
}

.absolute {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* @keyframes fade-out {
    from { opacity: 1; }
    to { opacity: 0; }
}

.fade-in {
    animation-name: fade-out;
    animation-iteration-count: 1;
    animation-duration: 500ms;
} */

.new-announcement {
    font-family: 'Stormfaze', sans-serif;
    position: absolute;
    right: 2%;
    bottom: 10%;
    width: 30%;
    text-align: center;
    color: white;
    font-size: 22px;
    -webkit-animation: flickerAnimation 3s infinite;
   -moz-animation: flickerAnimation 3s infinite;
   -o-animation: flickerAnimation 3s infinite;
    animation: flickerAnimation 3s infinite;
}

@keyframes flickerAnimation {
    0%   { opacity:1; }
    10%   { opacity:1; }
    20%   { opacity:1; }
    30%   { opacity:1; }
    40%   { opacity:1; }
    50%   { opacity:1; }
    60%   { opacity:0; }
    70%   { opacity:1; }
    80%   { opacity:1; }
    90%  { opacity:0; }
    100% { opacity:1; }
}
  

@keyframes glitch-effect {
    0% {
      clip: rect(96px, 9999px, 37px, 0);
    }
    5% {
      clip: rect(47px, 9999px, 34px, 0);
    }
    10% {
      clip: rect(8px, 9999px, 4px, 0);
    }
    15% {
      clip: rect(16px, 9999px, 27px, 0);
    }
    20% {
      clip: rect(57px, 9999px, 65px, 0);
    }
    25% {
      clip: rect(73px, 9999px, 53px, 0);
    }
    30% {
      clip: rect(69px, 9999px, 9px, 0);
    }
    35% {
      clip: rect(78px, 9999px, 16px, 0);
    }
    40% {
      clip: rect(87px, 9999px, 55px, 0);
    }
    45% {
      clip: rect(30px, 9999px, 12px, 0);
    }
    50% {
      clip: rect(69px, 9999px, 14px, 0);
    }
    55% {
      clip: rect(94px, 9999px, 25px, 0);
    }
    60% {
      clip: rect(62px, 9999px, 88px, 0);
    }
    65% {
      clip: rect(11px, 9999px, 86px, 0);
    }
    70% {
      clip: rect(55px, 9999px, 20px, 0);
    }
    75% {
      clip: rect(53px, 9999px, 84px, 0);
    }
    80% {
      clip: rect(80px, 9999px, 23px, 0);
    }
    85% {
      clip: rect(32px, 9999px, 48px, 0);
    }
    90% {
      clip: rect(99px, 9999px, 51px, 0);
    }
    95% {
      clip: rect(74px, 9999px, 83px, 0);
    }
    100% {
      clip: rect(76px, 9999px, 7px, 0);
    }
}
  
  